
<br><br>

  <div class='container'>

   <table style='border: solid black; 2px'>

      <tr><td>Student Name: Sadia</td></tr>
      <tr><td>Student ID: 160608</td></tr>

   </table>

   <br>

    <table style='border: solid black; 2px'>
      <thead>
        <th> Subject </th>
        <th> Marks </th>
        <th> Grade </th>

      </thead>

      <tr>
          <td>Bangla</td>
          <td>100</td>
          <td>A+</td>

       </tr>

       <tr>
          <td>English</td>
          <td>100</td>
          <td>A+</td>

       </tr>

       <tr>
          <td>Math</td>
          <td>100</td>
          <td>A+</td>

       </tr>


   </table>

  </div>

<br><br>

  <div class='container'>

   <table style='border: solid black; 2px'>

      <tr><td>Student Name: Sadia</td></tr>
      <tr><td>Student ID: 160608</td></tr>

   </table>

   <br>

    <table style='border: solid black; 2px'>
      <thead>
        <th> Subject </th>
        <th> Marks </th>
        <th> Grade </th>

      </thead>

      <tr>
          <td>Bangla</td>
          <td>100</td>
          <td>A+</td>

       </tr>

       <tr>
          <td>English</td>
          <td>100</td>
          <td>A+</td>

       </tr>

       <tr>
          <td>Math</td>
          <td>100</td>
          <td>A+</td>

       </tr>


   </table>

  </div>

<br><br>

  <div class='container'>

   <table style='border: solid black; 2px'>

      <tr><td>Student Name: Sultana</td></tr>
      <tr><td>Student ID: 160608</td></tr>

   </table>

   <br>

    <table style='border: solid black; 2px'>
      <thead>
        <th> Subject </th>
        <th> Marks </th>
        <th> Grade </th>

      </thead>

      <tr>
          <td>Bangla</td>
          <td>100</td>
          <td>A+</td>

       </tr>

       <tr>
          <td>English</td>
          <td>100</td>
          <td>A+</td>

       </tr>

       <tr>
          <td>Math</td>
          <td>100</td>
          <td>A+</td>

       </tr>


   </table>

  </div>
